@model IEnumerable<VikingCompASP_Domain.Entities.News>


@{

}

<div class="container body-content">

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info:</strong> @ViewBag.Message
        </div>
    }

    <p>
        @Html.ActionLink("+ Create News", "NewsCreate")
    </p>

    <div class="row">
        <div class="col-md-12 col-admin-outer">
            <div class="col-admin-inner">

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Head)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Body)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Head)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Body)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "NewsEdit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "NewsDetails", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "NewsDelete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to Admin Index", "Index")
    </p>
</div>