@model VikingCompASP_Domain.Entities.AspNetUsers

@{

}

<div class="container body-content">

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info:</strong> @ViewBag.Message
        </div>
    }

    <div class="row">
        <div class="col-md-12 col-admin-outer">
            <div class="col-admin-inner">

                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EmailConfirmed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EmailConfirmed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PasswordHash)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PasswordHash)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SecurityStamp)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SecurityStamp)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TwoFactorEnabled)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LockoutEndDateUtc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LockoutEnabled)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LockoutEnabled)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AccessFailedCount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccessFailedCount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to user manegement", "UserIndex")
    </p>
</div>